.idea
/jenkins/setup/backup/
/nginx/setup/letsencrypt/certificats/
/nginx/setup/letsencrypt/conf/
/setup/ssh/
!/setup/ssh/readme.md
!/setup/ssh/agent/config
!/setup/ssh/github/config
!/setup/ssh/jenkins/config
/setup/android/*
!/setup/android/readme.md
/setup/gradle/*
!/setup/gradle/readme.md
